.header_color {
    color: #0bada6;
    font-weight:bolder;
    font-style:normal
}

.img_margin {
    margin-right: 2%;
    margin-bottom: 2%
}

.container_color {
    background-color: white
}

.main_border_margin {
    margin-left: 2%;
    margin-top: 2%
}

.side_border_margin {
    margin-right: 5%;
    margin-top: 2%
}

.viz_img_margin_right {
    margin-left: 15%
}

.body_background {
    background-color: #ededed
}

.navbar_footer_color {
    background-color: #666666;
    color: #ffffff;
}

.navbar_thin_footer_color {
    background-color: #0bada6;
    margin-bottom: 8px
}

.text_color {
    color: #6d8092;
    font-weight: 600
}

.webname_header {
    background-color: #0bada6;
    color: white;
    font-weight: 600;
    font-size: 22px;
}