<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css">
    <title>SDSC AI Research</title>
</head>

<body class="body_background">
    <!-- Navigation bar --> 
    <nav class="navbar container_color">
        <div class="col-md-1"></div>
        <div class="navbar-header col-md-4">
            <a class="navbar-brand webname_header" href="/">SDSC AI Research</a>
            <div id='confusion_matrix'></div>
        </div>
    </nav>

    <br>

    <!-- Main row -->
    <div class="row">
            <!-- Main image to visualize -->
            <div class="col-sm-1"></div>

            <div class="col-sm-6 container_color main_border_margin">
                <h2 class="header_color">Confusion Matrix:</h2>
            </div>

            <!-- Other images -->
            <div class="col-sm-1"></div>

            <div class="col-sm-3 container_color side_border_margin">
                <h2 class="header_color">Accuracy: Training & Validation</h2>
            </div>

            <div class="col-sm-1"></div>

    </div>

    <!-- Footer -->
    <nav class="navbar navbar_thin_footer_color navbar-fixed-bottom"></nav>

    <nav class="navbar navbar-inverse navbar-fixed-bottom navbar_footer_color">
        <center><p>&#169; Copyright Megulo Abebe 2018</p></center>
    </nav>
    <script src="static/js/app.js"></script>
</body>
  
</html>